{% extends 'base/base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block header %}
<style>
    .placeholder-white::placeholder{
        color: white;
        opacity: 1;
    }

    .salon-img {
        height: 250px;
        object-fit: cover;
        object-position: center center;
    }
</style>
{% endblock header %}

{% block body %}
<div class="container">
    <div class="row my-3">
        <div class="col-lg-12">
            <div class="card bg-dark border-0 rounded-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-11 mx-auto">
                            <form action="">
                                <div class="row my-5">
                                    <div class="col-lg-3">
                                        <select name="location" id="" class="form-select bg-dark text-white form-select-lg">
                                            <option value="">Select City</option>
                                            <option value="">Purnea</option>
                                            <option value="" selected>Bhopal</option>
                                            <option value="">Mumbai</option>
                                            <option value="">Indore</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-9">
                                        <input type="search" name="search" id="search" placeholder="Search by Name, City, Location etc." class="form-control bg-dark placeholder-white text-white form-control-lg">
                                        <input type="submit" hidden>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <h4 class="mb-4">Nearby Salons</h4>
        {% for salon in salons %}
        <div class="col-lg-4 mb-4">
            <a href="{% url 'home:salon' salon.id %}" class="text-decoration-none">
                <div class="card rounded-4 shadow-sm">
                    <img src="{% static 'saloon/img.jpg' %}" class="card-img-top salon-img rounded-top-4" alt="">
                    <div class="card-body rounded-4">
                        <h6 class="d-flex mb-1 justify-content-between">
                            <div class="">
                                {{salon.name}} ({{salon.gender}})
                            </div>
                           <div class="">
                               <span class="float-end badge rounded-pill bg-success h5">
                                   4.2<i class="ri-star-fill ms-1 align-bottom"></i>
                               </span>
                           </div>
                        </h6>
                        <p class="mb-2">
                           {% for service in salon.service.all %}
                           <span class="badge alert-primary alert px-2 py-1 me-1 mb-0">{{service.name}}</span>
                           {% endfor %}
                           
                        </p>
                        <p class="small text-muted">
                            <span class="float-start">
                                <i class="ri-map-pin-line align-bottom me-1"></i>{{salon.address}}</span>
                            <span class="float-end">
                                {% if salon.is_open %}
                                <span class="text-success">
                                    <i class="ri-store-2-line me-1 align-bottom"></i>Open
                                </span>
                                {% else %}
                                <span class="text-danger">
                                    <i class="ri-store-2-line me-1 align-bottom"></i>Closed
                                </span>
                                {% endif %}
                            </span>
                        </p>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock body %}

{% block script %}{% endblock script %}