{% extends "base/salon-base.html" %}

{% block header %}

{% endblock header %}

{% block body %}
<div class="container">
    <div class="row mt-3">
        <div class="col-lg-3">
            <p class="mb-1">In Queue</p>
            <div class="list-group">
                <div class="list-group-item list-group-item-action bg-warning">Lorem, ipsum.</div>
            </div>
        </div>
        <div class="col-lg-5">
            <div class="card bg-primary py-5">
                <div class="card-body py-5 text-white text-center">
                    <h3 class="mb-3">Lorem, ipsum.</h3>
                    <p class="small text-white">Spa, Hair Cut, Pedicure</p>
                    <a href="" class="btn btn-sm btn-warning">Phone</a>
                    <a href="" class="btn btn-sm btn-success">Complete</a>
                    <a href="" class="btn btn-sm btn-secondary">Hold</a>
                    <a href="" class="btn btn-sm btn-danger">Cancel</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <p class="mb-1">On Hold</p>
            <div class="list-group">
                <div class="list-group-item list-group-item-action bg-secondary text-white">
                    <span class="float-start">Lorem, ipsum.</span>
                    <span class="float-end p-0">
                        <a href="" class="btn btn-outline-light btn-sm float-end m-0">Pick</a>
                    </span>
                </div>
            </div>

            <p class="mb-1 mt-3">Completed</p>
            <div class="list-group">
                <div class="list-group-item list-group-item-action bg-success text-white">Lorem, ipsum.</div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}

{% block script %}

{% endblock script %}